<% layout("/layouts/boilerplate") %>
<body>
     <div class="row">
        <div class="col-8 offset-2">
            <h1>Create  new Listing</h1>
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" id="title"class="form-control" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="listing[description]" id="description" class="form-control" required></textarea>
                <div class="invalid-feedback">Write a short Description..</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" id="price" class="form-control" required>
                <div class="invalid-feedback">Please Enter Valid Price</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" id="image"class="form-control" required>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" id="location" class="form-control" required>
                    <div class="invalid-feedback">Please Enter Valid Location</div>
                </div>
                <div class="mb-3 col-6">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" id="country" class="form-control" required>
                    <div class="invalid-feedback">Please Enter Valid Country</div>
                </div>
            </div>

          <br><br>
            <button type="submit" class="btn btn-light add-btn text-center">Add</button>
            
        </form>
        <br><br>
        </div>
      </div>
        
</body>
